@font-face {
    font-family: 'Apercu';
    src: url('/assets/fonts/Apercu-Bold.woff2') format('woff2'),
        url('/assets/fonts/Apercu-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Apercu';
    src: url('/assets/fonts/Apercu-Light.woff2') format('woff2'),
        url('/assets/fonts/Apercu-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Apercu';
    src: url('/assets/fonts/Apercu-Italic.woff2') format('woff2'),
        url('/assets/fonts/Apercu-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Apercu';
    src: url('/assets/fonts/Apercu-LightItalic.woff2') format('woff2'),
        url('/assets/fonts/Apercu-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Apercu';
    src: url('/assets/fonts/Apercu-BoldItalic.woff2') format('woff2'),
        url('/assets/fonts/Apercu-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Apercu';
    src: url('/assets/fonts/Apercu.woff2') format('woff2'),
        url('/assets/fonts/Apercu.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Apercu';
    src: url('/assets/fonts/Apercu-MediumItalic.woff2') format('woff2'),
        url('/assets/fonts/Apercu-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Apercu';
    src: url('/assets/fonts/Apercu-Medium.woff2') format('woff2'),
        url('/assets/fonts/Apercu-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Apercu Pro';
    src: url('/assets/fonts/ApercuPro-Light.woff2') format('woff2'),
        url('/assets/fonts/ApercuPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Apercu';
    src: url('/assets/fonts/Apercu-Mono.woff2') format('woff2'),
        url('/assets/fonts/Apercu-Mono.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Apercu Pro';
    src: url('/assets/fonts/ApercuPro-Bold.woff2') format('woff2'),
        url('/assets/fonts/ApercuPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Apercu Pro';
    src: url('/assets/fonts/ApercuPro-Regular.woff2') format('woff2'),
        url('/assets/fonts/ApercuPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Apercu Pro';
    src: url('/assets/fonts/ApercuPro-Medium.woff2') format('woff2'),
        url('/assets/fonts/ApercuPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jubilat';
    src: url('/assets/fonts/JubilatMedium-Roman.woff2') format('woff2'),
        url('/assets/fonts/JubilatMedium-Roman.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kirang Haerang';
    src: url('/assets/fonts/KirangHaerang-Regular.woff2') format('woff2'),
        url('/assets/fonts/KirangHaerang-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
