* {
    box-sizing: border-box;

    list-style: none;
    margin: 0;
    padding: 0;
}


:root {
    --charcoal: #051A1A;
    --candelLight: #FFDA1D;
    --justWhite: #FFFFFF;
    --jungleGreen: #163A3A;
    --plantGreen: #179446;
    --pictonBlue: #3DBAE1;
    --copy-font: 'Apercu pro', sans-serif;
    --paragraph-font: 'Jubilat', serif;
    --header-font: 'Kirang Haerang', sans-serif;
    --link-hover-color: #FFDA1D;
    --button-hover-color: #FFFFFF;
    --top-nav-sponsor-button-hover-color: #051A1A;
}

body {
    font-family: var(--copy-font);

    background-color: var(--charcoal);
    color: var(--justWhite);

    overflow: hidden;

    overflow-y: scroll; 
    overflow-x: scroll;
}

h2 {
    font-size: clamp(36px, 9vw, 128px);
    font-family: var(--header-font);
    text-transform: uppercase;
    display: flex;
    height: fit-content;
    line-height: 88%;
}